.songs {
  text-align: center;
  list-style-type: none;
  width: 100%;
  /* margin-bottom: 10%; */
}

.songs img {
  width: 20%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.song {
  margin-bottom: 5%;
  font-size: 8px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 5%;
  box-shadow: 9px 10px 20px 0px rgba(17, 17, 17, 0.514);
  background-color: rgba(44, 166, 197, 0.295);
  color: black;
  width: 50%;
  margin-left: 25%;
  height: 18rem;

  font-size: 13px;
}

.cards-sec {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 8%;
  cursor: pointer;
}

/* card */
.items {
  margin-left: 20%;
  padding: 10%;
  width: 65%;
  height: 75%;
  margin-bottom: 10%;
  font-size: 8px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 5%;
  box-shadow: 9px 10px 20px 0px rgba(17, 17, 17, 0.514);
  background-color: #292b3e;
  color: white;
  transition: all 1s ease-in-out;
  background-color: #F8AFA6
}

.items:hover {
  background-color:#F79489; 
  transition: all 0.5s ease-in-out;

}

.container {
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0.4)
  );
  border-radius: 20px;
  width: 65rem;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  padding: 3rem 3rem;
  color: #24637c;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 10px;
  background-color:  #F8AFA6
}

.container h1 {
  margin-bottom: 10px;
}
