.contaner {
  margin-top: 17rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
 
  
  width: 100vw;
  

}

.contaner h5 {
  font-size: 1rem;
  text-decoration: none;
}

.contaner Link {
  list-style: none;
  
}

.card {
  /* padding: 20px;
  margin: 15px; */
  width: 1rem;
  font-size: 4rem;
  color: cadetblue;
}

.card:hover {
  transform: scale(1.1);
}
