.home-container {
  margin-top: 17rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 93vw;
  height: 100vh;
  

}

.home-container h5 {
  font-size: 1rem;
  text-decoration: none;
}

.home-container Link {
  list-style: none;
  
}

.card {
  /* padding: 20px;
  margin: 15px; */
  width: 1rem;
  font-size: 4rem;
  color: #5f9ea0;
}

.card:hover {
  transform: scale(1.1);
}
