.header {
  
  display: flex;

  justify-content: right;
  height: 3rem;
  margin: auto;
  padding: 4rem;
  padding-bottom: 8rem;
  
}

.icon {
  font-size: 3rem;
  color: #5aa85dd0;
  cursor: pointer;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.imga {
  position: absolute;
  top: 1%;
  left: 6%;
  width: 12rem;
  height: 12rem;
}
